{% extends "base.html" %}
{% block main %}
      <hr>
      {%- for post in posts%}
      <div class="post">
        {%- set obj = post['object'] %}
        {%- autoescape false %}
        <div class="content">{{ obj['content'] }}</div>
        {%- endautoescape %}
	{%- if post['formed_attachment'] %}
	<div class="attachments">
	  <hr class="attachment">
	  {%- autoescape false %}
	  {{post['formed_attachment']}}
	  {%- endautoescape %}
	</div>
	{%- endif %}
        <div class="meta">
          <span class="date">{{post['published']}}</span>
          <span class="permalink"><a href="{{url_for('.get_post', activity_id=post['id'])}}">permalink</a></span>
          <span class="original_post"><a target="_blank" href="{{post['url']}}">original post</a></span> |
          {%- if obj['plusoners']['totalItems'] > 0 %}
          <span class="plusones">
            <a href="{{post['url']}}">+{{obj['plusoners']['totalItems']}}</a></span>
          {%- endif %}
          {%- if obj['resharers']['totalItems'] > 0 %}
          <span class="reshares">
            <a href="{{post['url']}}">{{obj['resharers']['totalItems']}} reshares</a></span>
          {%- endif %}
          {%- if obj['replies']['totalItems'] > 0 %}
          <span class="replies">
            <a href="{{post['url']}}">{{obj['replies']['totalItems']}} replies</a></span>
          {%- endif %}
          <!--
          <g:plusone size="small" href="{{post['self_url']}}"></g:plusone>
          <iframe src="http://www.facebook.com/plugins/like.php?app_id=241190519226756&amp;href={{post['self_url']}}&amp;send=false&amp;layout=button_count&amp;width=100&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100px; height:21px;" allowTransparency="true"></iframe>
          -->
        </div>
        <hr class="entry">
        </div>
      {% endfor %}
{% endblock %}
