{% extends "base.html" %}
{% block title %}
{{ super() }}
- {{ post['title'] }}
{% endblock %}
{% block main %}
      <hr>
      <div class="post">
        {%- set obj = post['object'] %}
        {%- autoescape false %}
        <div itemprop="description" class="content">{{ obj['content'] }}</div>
        {%- endautoescape %}
	{%- if post['formed_attachment'] %}
	<div class="attachments">
	  <hr>
	  {%- autoescape false %}
	  {{post['formed_attachment']}}
	  {%- endautoescape %}
	</div>
	{%- endif %}
        <div class="meta">
          <span class="date">{{post['published']}}</span>
          <span class="permalink"><a href="{{post['self_url']}}">permalink</a></span>
          <span class="original_post"><a target="_blank" href="{{post['url']}}">original post</a></span> |
          {%- if obj['plusoners']['totalItems'] > 0 %}
          <span class="plusones">
            <a href="{{post['url']}}">+{{obj['plusoners']['totalItems']}}</a></span>
          {%- endif %}
          {%- if obj['resharers']['totalItems'] > 0 %}
          <span class="reshares">
            <a href="{{post['url']}}">{{obj['resharers']['totalItems']}} reshares</a></span>
          {%- endif %}
          {%- if obj['replies']['totalItems'] > 0 %}
          <span class="replies">
            <a href="{{post['url']}}">{{obj['replies']['totalItems']}} replies</a></span>
          {%- endif %}
          <!--
          <g:plusone size="small" href="{{post['self_url']}}"></g:plusone>
          <iframe src="http://www.facebook.com/plugins/like.php?app_id=241190519226756&amp;href={{post['self_url']}}&amp;send=false&amp;layout=button_count&amp;width=100&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100px; height:21px;" allowTransparency="true"></iframe>
          -->
        </div>
	Adsense
<!--
<script type="text/javascript"><!--
google_ad_client = "ca-pub-6413829572957696";
/* blog entry */
google_ad_slot = "9535457220";
google_ad_width = 336;
google_ad_height = 280;
//
</script>
<script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js"></script> -->
        <hr>
        </div>
{% endblock %}
